<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=C:\development\elex\trap_network\ESLTestProcess\MyDatabase#1.sdf;password=esldata&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>